	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/09/2019 10:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-straight-quotes:before { content: "\f100"; }
.flaticon-electrocardiogram:before { content: "\f101"; }
.flaticon-emergency-call:before { content: "\f102"; }
.flaticon-first-aid-kit:before { content: "\f103"; }
.flaticon-right:before { content: "\f104"; }    .flaticon-cat:before { content: "\f100"; }
.flaticon-dog:before { content: "\f101"; }
.flaticon-null-1:before { content: "\f102"; }
.flaticon-three:before { content: "\f103"; }
.flaticon-travel:before { content: "\f104"; }
.flaticon-delete:before { content: "\f105"; }
.flaticon-web-1:before { content: "\f106"; }
.flaticon-web:before { content: "\f107"; }
.flaticon-rounded-black-square-shape:before { content: "\f108"; }
.flaticon-medical-kit:before { content: "\f109"; }
.flaticon-shapes:before { content: "\f10a"; }
.flaticon-arrows:before { content: "\f10b"; }
.flaticon-interface-1:before { content: "\f10c"; }
.flaticon-interface:before { content: "\f10d"; }
.flaticon-social:before { content: "\f10e"; }
.flaticon-connection:before { content: "\f10f"; }
.flaticon-null:before { content: "\f110"; }
.flaticon-black:before { content: "\f111"; }
.flaticon-circle:before { content: "\f112"; }
.flaticon-sky:before { content: "\f113"; }
.flaticon-arrow-1:before { content: "\f114"; }
.flaticon-people-1:before { content: "\f115"; }
.flaticon-grandmother-and-grandson:before { content: "\f116"; }
.flaticon-technology:before { content: "\f117"; }
.flaticon-business:before { content: "\f118"; }
.flaticon-search:before { content: "\f119"; }
.flaticon-computer:before { content: "\f11a"; }
.flaticon-transport:before { content: "\f11b"; }
.flaticon-people:before { content: "\f11c"; }
.flaticon-calendar:before { content: "\f11d"; }
.flaticon-videocam-filled-tool:before { content: "\f11e"; }
.flaticon-arrow:before { content: "\f11f"; }
.flaticon-food-truck:before { content: "\f120"; }
.flaticon-city:before { content: "\f121"; }
.flaticon-menu-button-of-three-horizontal-lines:before { content: "\f122"; }